<!doctype html>
<html lang="zh-CN"><head><meta charset="utf-8">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Noto+Sans+SC:wght@400;700;900&family=Nunito:wght@700;900&display=swap"><link rel="stylesheet" href="detail.css">
</head><body>
<div class="poster">
  <div class="title">码头游乐园<em>SANTA MONICA PIER · 02 / 04</em></div>

  <div class="tile" style="left:560px; top:70px; background-image:url(det-coaster.png); transform: rotate(2deg)"></div>
  <svg class="arrow" style="left:430px; top:250px" width="130" height="90" viewBox="0 0 130 90"><path d="M8 80c30-40 60-56 112-62"/><path d="M104 10l16 8-12 12"/></svg>
  <div class="hand" style="left:70px; top:290px">West Coaster 过山车<small>三节小车一直在轨道上跑，车厢里六个小木偶举着手尖叫</small></div>

  <div class="tile" style="left:80px; top:500px; background-image:url(det-wheel.png); transform: rotate(-2deg)"></div>
  <svg class="arrow" style="left:500px; top:590px" width="130" height="90" viewBox="0 0 130 90"><path d="M122 80C92 40 62 24 10 18"/><path d="M26 6L8 18l16 10"/></svg>
  <div class="hand" style="left:600px; top:560px">太平洋摩天轮<small>慢慢转，座舱里有两个人在挥手，天黑后座舱会亮起来</small></div>

  <div class="tile" style="left:560px; top:930px; background-image:url(det-motel.png); transform: rotate(1.5deg)"></div>
  <svg class="arrow" style="left:440px; top:1080px" width="130" height="90" viewBox="0 0 130 90"><path d="M8 10c30 40 60 56 112 62"/><path d="M104 80l16-8-12-12"/></svg>
  <div class="hand" style="left:70px; top:1000px">日落 Motel<small>两层小旅馆，阳台上有人端着马天尼，泳池里漂着火烈鸟</small></div>

  <svg class="doodle" style="left:70px; top:1230px" width="200" height="120" viewBox="0 0 200 120"><circle cx="60" cy="60" r="34"/><path d="M60 26v68M26 60h68M36 36l48 48M84 36l-48 48"/><path d="M48 94l-10 20M72 94l10 20"/><path d="M130 100c10-20 30-24 50-10"/></svg>
  <div class="meta">LA DAYDREAM · 真实运行截图</div>
</div>
</body></html>
