<!doctype html>
<html lang="zh-CN"><head><meta charset="utf-8">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Noto+Sans+SC:wght@400;700;900&family=Nunito:wght@700;900&display=swap"><link rel="stylesheet" href="detail.css">
</head><body>
<div class="poster">
  <div class="title">海边吃点什么<em>DINER · TACOS · HOT DOG · 04 / 04</em></div>

  <div class="tile" style="left:80px; top:210px; width:520px; height:520px; background-image:url(det-diner.png); transform: rotate(-1.5deg)"></div>
  <svg class="arrow" style="left:610px; top:330px" width="120" height="80" viewBox="0 0 120 80"><path d="M112 70C86 36 56 22 8 18"/><path d="M24 6L6 18l16 10"/></svg>
  <div class="hand" style="left:720px; top:260px; white-space:normal; width:300px">公路边的 Diner<small style="width:300px">条纹雨棚、大玻璃窗，服务员拿着菜单站在门口；门口就是 Route 66 的终点牌</small></div>

  <div class="tile" style="left:520px; top:780px; width:480px; height:480px; background-image:url(det-taco.png); transform: rotate(2deg)"></div>
  <svg class="arrow" style="left:400px; top:900px" width="130" height="80" viewBox="0 0 130 80"><path d="M8 70c30-36 60-50 112-54"/><path d="M104 6l16 8-12 12"/></svg>
  <div class="hand" style="left:70px; top:960px; white-space:normal; width:330px">Taco 餐车 &amp; 热狗摊<small style="width:330px">老板手里举着一根热狗，旁边的顾客已经在吃冰淇淋了</small></div>

  <svg class="doodle" style="left:80px; top:1180px" width="240" height="150" viewBox="0 0 240 150"><path d="M30 90c0-30 20-50 50-50s50 20 50 50"/><path d="M26 90h108"/><path d="M40 90c6 14 10 24 12 40M120 90c-6 14-10 24-12 40M60 130h40"/><path d="M160 60l30-30 30 30"/><path d="M190 30v90"/><path d="M160 100c10 10 50 10 60 0"/></svg>
  <div class="meta">LA DAYDREAM · 真实运行截图</div>
</div>
</body></html>
